*test*
!test_error.ahk
scratch*
*.dll
*.txt
*.log
*.bak
*.exe
*.xml
WebView2
.vscode/
.vscode/*
scratch*
old/
!WpfAnimatedGif.dll
*.events
*.xaml
!xaml.components.xaml
*.baml
!xaml.components.baml
!axml_examples/*
node_modules/
out/
*.vsix
!vscode-axml/language-configuration.json
package-lock.json
!axml_error_test.ahk
!axml_error_test.axml
work_docs/
*.py